*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffefee;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
}

.nav-bar ul li{
    padding: 2em 2.5em;
    list-style: none;
}

li a{
    text-decoration: none;
    color: #ff499d;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: all 200ms ease;
}
li a:hover, a:focus{
    color: #bee4f8;
}


.img__wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    margin: 0 1.5em;
}

.wrapper img{
    width: 100%;
    filter: blur(3px);
    border-radius: 5px;
}
.wrapper img:hover {
    transform: scale(1.08);
    filter: blur(0);
    cursor: crosshair;
    transition: 0.5s all ease;
}

